{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Aswin Ranganathan">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/vendor/font-awesome.min.css') }}">

    <style>
    @import url('https://fonts.googleapis.com/css?family=Heebo');
    </style>

    <script src="https://code.jquery.com/jquery-1.12.2.min.js"
            integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
            crossorigin="anonymous"></script>

  </head>

  <body>
  {% block header %}{% endblock %}


  <main class="container">
      {{ flash.render() }}

      <div class="md-margin-top">{% block heading %}{% endblock %}</div>
      {% block body %}{% endblock %}
  </main>
  <footer class="footer" style="border-top: none">
      <div class="container">
        <ul class="list-inline">
          <li class="text-muted">Highcampers &copy; 2017</li>
            {% block footer %}{% endblock %}
        </ul>
      </div>
    </footer>



  </body>

  <script
      src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js') }}">
    </script>

</html>