{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign Up for a new account{% endblock %}
{% block meta_description %}Sign up with highcampers and explore the world of travellers{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      {% call f.form_tag('user.signup') %}
        <legend>Sign up</legend>
        {% call f.form_group(form.username, css_class='',
                             autofocus='autofocus',
                             placeholder='Pick a username') %}
        {% endcall %}
        {% call f.form_group(form.email, css_class='',
                             autofocus='autofocus',
                             placeholder='Enter your email address') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='',
                             placeholder='Create a password') %}
        {% endcall %}
        <p>By signing up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Privacy Policy</a> and <a href="#">Content Policy.</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
      {% endcall %}
    </div>
  </div>
{% endblock %}

