{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Contact us with your feedback or issues{% endblock %}
{% block meta_description %}Contact our customer service department with any
questions or concerns.{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      {% call f.form_tag('contact.index') %}
        <legend>We're here to answer your questions</legend>

        {% call f.form_group(form.email, css_class='margin-bottom',
                             placeholder='E-mail address') %}
        {% endcall %}

        {% call f.form_group(form.message, css_class='margin-bottom',
                             placeholder='The more we know, the easier it will be to help you',
                             rows='12') %}
        {% endcall %}

        <button type="submit" class="btn btn-primary">Send e-mail</button>
      {% endcall %}
    </div>
  </div>
{% endblock %}

