/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

a {
    color: #0275d8;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #e9e9e9;
    height: 60px;
}

/* Margin and padding
-------------------------------------------------- */
.lg-margin-bottom {
    margin-bottom: 60px;
}

.lg-margin-top {
    margin-top: 60px;
}

.md-margin-top {
    margin-top: 40px;
}

.sm-margin-top {
    margin-top: 20px;
}
